.sign-in {
    max-width: 380px;

    &__title {
        font-weight: normal;
        margin-bottom: 2rem;
    }

    &__subtitle {
        display: inline-block;
        margin-bottom: 3rem;
    }

    .buttons {
        display: flex;
        align-items: center;
    }
}