.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .75rem;
    margin-bottom: 20px;

    &__nav {
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        justify-content: flex-end;

        &-link {
            padding: 1rem 1.5rem;
            color: #000;
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
        }
    }
}