.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    margin: 0 7.5px 15px;
    overflow: hidden;


    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &__bg {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        transition: transform 1s cubic-bezier(0, 0.86, 0.7, 0.96);
    }

    &:hover &__bg {
        transform: scale(1.1);
    }

    &.large {
        height: 380px;
    }

    &__content {
        position: absolute;
        padding: 10px 15px;
        background: #fff;
        text-align: center;
        opacity: .5;
        transition: .2s all;
    }

    &:hover {
        cursor: pointer;

        .menu-item__content {
            opacity: .9;
        }
    }

    &__title {
        margin-bottom: 5px;
        font-size: 24px;
    }

    &__subtitle {
        font-weight: normal;
        text-transform: uppercase;
    }
}