.collection {
    &__title {
        font-size: 2.8rem;
        padding-bottom: 1rem;
        font-weight: 400;
    }

    &-item {
        position: relative;
        flex: 1;
        height: 36rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        &:not(:last-child) {
            margin-right: .7rem;
        }

        &__bg {
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 90%;
        }

        .custom-button {
            position: absolute;
            width: 80%;
            top: 25.5rem;
            display: none;
        }

        &:hover {

            .collection-item__bg {
                opacity: .8;
            }

            .custom-button {
                display: flex;
                opacity: .85;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 1rem;
        height: 10%;

        span {
            display: inline-block;
            font-size: 1.8rem;
        }
    }
}